<!DOCTYPE html>
<html class="bg-gray-800 min-h-screen">
  <head>
    <title>Filmcase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'hello_vue' %>
    <%= stylesheet_pack_tag 'hello_vue' %>
  </head>

  <body class="min-h-full">
    <%= yield %>
  </body>
</html>
